<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% extends 'index.html' %}
</head>
<body>

{% block content %}
<div url-endpoint='{% url "dashboard" %}'></div>
<center>
<h3>Dashboard</h3>
<h4>Olá {{user.username}}. Veja alguns gráficos que traduzem a atuação e o desenvolvimento da UFERSA.</h4>
</center>
<div class="row">
    <div class="col-sm-10">
        <canvas id="myChart" width="1000" height="500"></canvas>
        <select [(ngModel)]="lessThenOrGratterThen" style="width:100px; height:30px">
            <option value="lessThen"> Maior que</option>
            <option value="gratterThen"> Menor que</option>
        </select>
        &nbsp;&nbsp;
        <input [(ngModel)]="filterLimit" placeholder="Filtro" style="width:100px; height:30px">
        <br> <br>
        <button class="button" (click)="applyFilter(filterLimit)">Aplicar filtro</button>
    </div>
</div>

{% endblock content %}

{% block js %}
<script>
function dynamicColors() {
    var r = Math.floor(Math.random() * 255);
    var g = Math.floor(Math.random() * 255);
    var b = Math.floor(Math.random() * 255);
    return "rgba(" + r + "," + g + "," + b + ", 0.95)";
}

function poolColors(a) {
    var pool = [];
    for(i = 0; i < a; i++) {
        pool.push(dynamicColors());
    }
    return pool;
}

$.ajax({
  url: 'api/ano',
  success: function(response) {
        let mylabels = response.data.map(function(e){
        return e.year
        })
        let myvalues = response.data.map(function(e){
        return e.value
        })

        var ctx = document.getElementById('myChart').getContext('2d');
        var config = {
            type:'bar',
            data:{
                labels:mylabels,
                datasets: [{
                    label:'Oferta de Disciplinas através dos anos.',
                    data:myvalues,
                    backgroundColor: poolColors(myvalues.length),
                    borderColor: 'rgba(100, 100, 100, 0.85)',
                    borderWidth: 1.5
                }]
            },
            options: {
                title:{
                    display:true,
                    fontsize:100,
                    text:"Disposição de ofertas das disciplinas da UFERSA através dos anos."
                },
                labels:{
                    fontsize:50,
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            display: true
                        }
                    }]
                }
            }

        }
        var myChart = new Chart(ctx, config)
    }
});

</script>
{% endblock js %}
</body>
</html>